# SPDX-License-Identifier: Apache-2.0 OR MIT
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
